PORT=8000
DATABASE_URL=postgresql://neondb_owner:npg_xxxxxx@ep-xxxxxx.ap-southeast-1.aws.neon.tech/neondb?sslmode=require
JWT_SECRET=super_secret_jwt_key_moneyassist
GEMINI_API_KEY=AIzaSyAJrURwQNed3Q8orga3br2Jbk5yVhWARZo
FRONTEND_URL=https://moneyassist.netlify.app
